.container {
    width:30%;
    color:red;
    border:1px solid green;
}

.container .content {
    box-shadow: 2px solid grey;
    background-color: gainsboro;
}

.container .content .main {
    color:darkmagenta;
    background-color: darkgreen;
    
}